<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MelangePersonalKey</key>
	<string>$(MELANGE_PERSONAL_KEY)</string>
	<key>MelangeStructuredLLMModelName</key>
	<string>$(MELANGE_STRUCTURED_LLM_MODEL_NAME)</string>
	<key>MelangeStructuredLLMModelVersion</key>
	<string>$(MELANGE_STRUCTURED_LLM_MODEL_VERSION)</string>
	<key>MelangeStructuredLLMModelMode</key>
	<string>$(MELANGE_STRUCTURED_LLM_MODEL_MODE)</string>
</dict>
</plist>
